body{
    margin: 0;
    padding: 0;
    background: 
    linear-gradient(-45deg,black,#222,rgb(68, 71, 61), rgb(102, 87, 87),rgb(107, 122, 139));
    background-size: 400% 400%;
}

/* icon */

.brand-title a svg{
    color: white;
    cursor: pointer;
}

/* Content */

.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Title */

.main-title h1{
    font-size: 40px;
    color: white;
    margin: 50px 0;
}

#copy{
    color: white;
    margin: 20px 0;
}

/* buttons */

.jumbotron input{
    margin: 20px;
    text-align: center;
}

/* resultado */

#res{
    margin-top: 20px;
}

/* Links */
#link{
    color: white;
}

#link h5{
    margin: 20px 0;
    color: #666;
}

#link button{
    text-decoration: none;
    margin: 10px;
}

#link a{
    text-decoration: none;
    margin: 10px;
}

