body{
    margin: 0;
    padding: 0;
    background: 
    linear-gradient(-45deg,black,#222,rgb(68, 71, 61), rgb(100, 89, 89),rgb(107, 122, 139));
    background-size: 400% 400%;
}

/* icon */

.icon a svg{
    margin: 50px;
    color: white;
    cursor: pointer;
    position: fixed;
}

/* Content */

.container{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* Title */

.main-title h1{
    margin: 0 0 10px 0;
    font-size: 40px;
    color: white;
}

#copy{
    color: white;
    margin: 20px 0;
}

/* buttons */

.jumbotron input{
    margin: 20px;
    text-align: center;
}

/* resultado */

#res{
    margin-top: 20px;
}

/* Links */

#link{
    color: white;
}



